@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Rubik', sans-serif;
}
button {
    min-height: clamp(20px,30px,40px);
    min-width: clamp(60px,80px,120px);
    border-radius: 20px;
    border: none;
    background-color: #ABD2FA;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.288);
    cursor: pointer;
}
button:focus{
    outline: none;
}
input {
    min-height: clamp(30px,40px,60px);
    min-width: clamp(160px,200px,220px);
    border-radius: 20px;
    border: none;
    text-align: center;
}
input:focus {
    outline: none;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.363));
}

#root {
    height: 100vh;
}

/* * Menu Container */
.MenuContainer {
    background-image: url('../../assets/General_Background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #3D518C;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.Hero > img {
    height: clamp(140px, 150px, 200px);
    width: clamp(140px, 150px, 200px);
    margin: 10px auto;
}
.Hero > h1 {
    margin: 10px auto;
    text-align: center;
    font-size: clamp(10px, 25px, 30px);
}

.HeroContainer{
    display: flex;
    flex-flow: column;
    flex: 1;
}

/* * Forms */

.InputContainer {
    display: flex;
    flex-flow: column;
}
.InputContainer > h1, button, input {
    margin: 5px auto;
}

.Form {
    min-width: 35%;
    padding: 20px;
    border-radius: 80px 0 0 80px;
    transition: 0.9s ease-in-out;
}
.Registration {
    margin: auto;
    top: 0;
    background-color: #3D518C;
    display: flex;
    flex-direction: column;
}

.Login {
    display: flex;
    flex-direction: column;
    background-color: #3D518C;
    justify-content: space-evenly;
}
/* Breakpoint of Mobile devices */
@media screen and (max-width: 500px){
    .MenuContainer {
        flex-flow: column;
    }
    .Form {
        border-radius: 50px 50px 0 0;
        min-height: 40%;
    }
}